USE [trips]
GO
/****** Object:  Table [dbo].[Dim_Accommodation]    Script Date: 10/5/2024 9:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Accommodation](
	[Accommodation_type] [nvarchar](50) NULL,
	[Accommodation_cost] [smallint] NULL,
	[Accommodation_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Accommodation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Location]    Script Date: 10/5/2024 9:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Location](
	[Trip_ID] [tinyint] NOT NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 10/5/2024 9:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[Start_date] [date] NULL,
	[End_date] [date] NULL,
	[Duration_days] [tinyint] NULL,
	[Start_date_Value] [datetime] NULL,
	[End_date_Value] [datetime] NULL,
	[Year_Start] [int] NULL,
	[Month_Start] [int] NULL,
	[Year_End] [int] NULL,
	[Month_End] [int] NULL,
	[Time_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Time_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Transportation]    Script Date: 10/5/2024 9:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Transportation](
	[Transportation_type] [nvarchar](50) NULL,
	[Transportation_cost] [smallint] NULL,
	[Transportation_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transportation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Traveler]    Script Date: 10/5/2024 9:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Traveler](
	[Traveler_name] [nvarchar](50) NULL,
	[Traveler_age] [tinyint] NULL,
	[Traveler_gender] [nvarchar](50) NULL,
	[Traveler_nationality] [nvarchar](50) NULL,
	[Traveler_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Traveler_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Trip]    Script Date: 10/5/2024 9:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Trip](
	[Trip_ID] [tinyint] NULL,
	[Duration_days] [tinyint] NULL,
	[Traveler_age] [tinyint] NULL,
	[Accommodation_cost] [smallint] NULL,
	[Transportation_cost] [smallint] NULL,
	[Accommodation_ID] [int] NULL,
	[Time_ID] [int] NULL,
	[Transportation_ID] [int] NULL,
	[Traveler_ID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_Accommodation] ([Accommodation_type], [Accommodation_cost], [Accommodation_ID]) VALUES (N'Hotel', 100, 1)
INSERT [dbo].[Dim_Accommodation] ([Accommodation_type], [Accommodation_cost], [Accommodation_ID]) VALUES (N'Hotel', 400, 2)
INSERT [dbo].[Dim_Accommodation] ([Accommodation_type], [Accommodation_cost], [Accommodation_ID]) VALUES (N'Hotel', 500, 3)
GO
INSERT [dbo].[Dim_Location] ([Trip_ID], [City], [Country]) VALUES (1, N'London', N'UK')
INSERT [dbo].[Dim_Location] ([Trip_ID], [City], [Country]) VALUES (2, N'Phuket', N'Thailand')
INSERT [dbo].[Dim_Location] ([Trip_ID], [City], [Country]) VALUES (3, N'Bali', N'Indonesia')
GO
INSERT [dbo].[Dim_Time] ([Start_date], [End_date], [Duration_days], [Start_date_Value], [End_date_Value], [Year_Start], [Month_Start], [Year_End], [Month_End], [Time_ID]) VALUES (CAST(N'2024-03-15' AS Date), CAST(N'2024-03-23' AS Date), 8, CAST(N'2024-03-15T00:00:00.000' AS DateTime), CAST(N'2024-03-23T00:00:00.000' AS DateTime), 2024, 3, 2024, 3, 1)
INSERT [dbo].[Dim_Time] ([Start_date], [End_date], [Duration_days], [Start_date_Value], [End_date_Value], [Year_Start], [Month_Start], [Year_End], [Month_End], [Time_ID]) VALUES (CAST(N'2023-12-05' AS Date), CAST(N'2023-12-12' AS Date), 7, CAST(N'2023-12-05T00:00:00.000' AS DateTime), CAST(N'2023-12-12T00:00:00.000' AS DateTime), 2023, 12, 2023, 12, 2)
INSERT [dbo].[Dim_Time] ([Start_date], [End_date], [Duration_days], [Start_date_Value], [End_date_Value], [Year_Start], [Month_Start], [Year_End], [Month_End], [Time_ID]) VALUES (CAST(N'2022-07-15' AS Date), CAST(N'2022-07-22' AS Date), 7, CAST(N'2022-07-15T00:00:00.000' AS DateTime), CAST(N'2022-07-22T00:00:00.000' AS DateTime), 2022, 7, 2022, 7, 3)
GO
INSERT [dbo].[Dim_Transportation] ([Transportation_type], [Transportation_cost], [Transportation_ID]) VALUES (NULL, NULL, 1)
INSERT [dbo].[Dim_Transportation] ([Transportation_type], [Transportation_cost], [Transportation_ID]) VALUES (N'Car', 300, 2)
INSERT [dbo].[Dim_Transportation] ([Transportation_type], [Transportation_cost], [Transportation_ID]) VALUES (N'Car', 2000, 3)
GO
INSERT [dbo].[Dim_Traveler] ([Traveler_name], [Traveler_age], [Traveler_gender], [Traveler_nationality], [Traveler_ID]) VALUES (N'Maria Garcia', 31, N'Female', N'Spanish', 1)
INSERT [dbo].[Dim_Traveler] ([Traveler_name], [Traveler_age], [Traveler_gender], [Traveler_nationality], [Traveler_ID]) VALUES (N'David Kim', 42, N'Male', N'Korean', 2)
INSERT [dbo].[Dim_Traveler] ([Traveler_name], [Traveler_age], [Traveler_gender], [Traveler_nationality], [Traveler_ID]) VALUES (N'David Kim', 25, N'Male', N'American', 3)
GO
INSERT [dbo].[Fact_Trip] ([Trip_ID], [Duration_days], [Traveler_age], [Accommodation_cost], [Transportation_cost], [Accommodation_ID], [Time_ID], [Transportation_ID], [Traveler_ID]) VALUES (NULL, 8, 27, 900, 400, 1, 84, 14, 52)
INSERT [dbo].[Fact_Trip] ([Trip_ID], [Duration_days], [Traveler_age], [Accommodation_cost], [Transportation_cost], [Accommodation_ID], [Time_ID], [Transportation_ID], [Traveler_ID]) VALUES (NULL, 7, 31, 1200, 200, 1, 121, 33, 72)
INSERT [dbo].[Fact_Trip] ([Trip_ID], [Duration_days], [Traveler_age], [Accommodation_cost], [Transportation_cost], [Accommodation_ID], [Time_ID], [Transportation_ID], [Traveler_ID]) VALUES (NULL, 7, 41, 600, 150, 1, 26, 33, 100)
GO
ALTER TABLE [dbo].[Fact_Trip]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Accommodation] FOREIGN KEY([Accommodation_ID])
REFERENCES [dbo].[Dim_Accommodation] ([Accommodation_ID])
GO
ALTER TABLE [dbo].[Fact_Trip] CHECK CONSTRAINT [FK_Fact_Accommodation]
GO
ALTER TABLE [dbo].[Fact_Trip]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Location] FOREIGN KEY([Trip_ID])
REFERENCES [dbo].[Dim_Location] ([Trip_ID])
GO
ALTER TABLE [dbo].[Fact_Trip] CHECK CONSTRAINT [FK_Fact_Location]
GO
ALTER TABLE [dbo].[Fact_Trip]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Time] FOREIGN KEY([Time_ID])
REFERENCES [dbo].[Dim_Time] ([Time_ID])
GO
ALTER TABLE [dbo].[Fact_Trip] CHECK CONSTRAINT [FK_Fact_Time]
GO
ALTER TABLE [dbo].[Fact_Trip]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Transportation] FOREIGN KEY([Transportation_ID])
REFERENCES [dbo].[Dim_Transportation] ([Transportation_ID])
GO
ALTER TABLE [dbo].[Fact_Trip] CHECK CONSTRAINT [FK_Fact_Transportation]
GO
ALTER TABLE [dbo].[Fact_Trip]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Traveler] FOREIGN KEY([Traveler_ID])
REFERENCES [dbo].[Dim_Traveler] ([Traveler_ID])
GO
ALTER TABLE [dbo].[Fact_Trip] CHECK CONSTRAINT [FK_Fact_Traveler]
GO
